@use "variables" as va;
@use "mixins" as mx;
@use "functions" as fn;

img {
  width: 100%;
  border-radius: fn.toRem(7);
  margin-bottom: fn.toRem(10);
}

.container-image {
  position: relative;
  cursor: pointer;

  &:hover {
    p {
      opacity: 1;
    }
  }
}

p {
  opacity: 0.3;
  position: absolute;
  left: 50%;
  bottom: calc(10% + 10px);
  transform: translateX(-50%);
  background-color: rgba(var(--secondary-color-rgb), 0.8);
  padding: 4px 2px;

  @include mx.responsive("large") {
    font-size: 0.9rem;
  }

  @include mx.responsive("medium") {
    font-size: 0.7rem;
  }

  @include mx.responsive("small") {
    font-size: 0.8rem;
  }

}
