img {
  width: 100%;
  border-radius: 7px;
  margin-bottom: 10px;
}

.container-image {
  position: relative;
  cursor: pointer;

  &:hover {
    p {
      opacity: 1;
    }
  }
}

p {
  opacity: 0.3;
  color: white;
  position: absolute;
  left: 50%;
  bottom: calc(10% + 10px);
  transform: translateX(-50%);
  background-color: rgba($color: #000000, $alpha: 0.3);
  padding: 4px 2px;

  @media screen {
    @media (max-width:800px) {
      font-size: 0.6rem;
    }

    @media (max-width: 500px) {
      font-size: 0.7rem;
    }

    @media (max-width: 300px) {
      font-size: 0.8rem;
    }

  }
}
