@use "variables" as va;
@use "mixins" as mx;

.container {

  position: fixed;
  bottom: 0;
  background: rgba(var(--secondary-color-rgb), 0.5);
  width: 100%;
  padding: 12px;
  transition: 0.5s;
  z-index: 1;
  @include mx.centerXY;
}

.container:hover {
  background: rgba(var(--secondary-color-rgb), 1.0);
}
