@use "mixins" as mx;
@use "functions" as fn;

.main {
  display: flex;
  flex-direction: column-reverse;
}

.container-card {
  margin: fn.toRem(12);
  column-gap: fn.toRem(10);
  margin-bottom: fn.toRem(65);
  column-count: 5;

  @include mx.responsive("large") {
    column-count: 3;
  }

  @include mx.responsive("medium") {
    column-count: 2;
  }

  @include mx.responsive("small") {
    column-count: 1;
  }
}
