.main {
  display: flex;
  flex-direction: column-reverse;
}

$margin: 12px;
$gap: 10px;

@mixin column-count($count) {
  column-count: $count;
}

.container-card {
  margin: $margin;
  column-gap: $gap;
  margin-bottom: 5vh;

  @include column-count(5);

  @media screen {
    @media (max-width:800px) {
      @include column-count(3);
    }

    @media (max-width: 500px) {
      @include column-count(2);
    }

    @media (max-width: 300px) {
      @include column-count(1);
    }

  }
}
