@mixin button($width) {
  height: 40px;
  border: none;
  width: $width;

  @media screen {
    @media (max-width:800px) {
      width: calc($width / 1.5);
    }

    @media (max-width: 500px) {
      width: calc($width / 2);
    }

    @media (max-width: 300px) {
      width: calc($width / 2);
    }
  }
}
